@use '../abstracts/colours' as *;
@use "../abstracts/variables" as *;
@use "../abstracts/mixins" as *;

main{
    overflow: hidden;
}

.container{
    display: flex;
    max-width: 767px;
    margin: auto;
    padding: 0 20px;
    flex-wrap: wrap;
    @include breakpoint(md){
        max-width: 1340px;
    }
}

.justify-content-between{
    justify-content: space-between;
}

.justify-content-center{
    justify-content: center;
}

.align-items-center{
    align-items: center;
}

.col-50{
    width: 100%;
    @include breakpoint(md){
        width: 50%;
    }
}


/* Images */

.img-fluid{
    width: 100%;
    height: auto;
    max-width: 100%;
}

/* Text */

.text-center{
    text-align: center;
}